<!-- <quill-editor 
  class="content-editor" 
  [placeholder]="''"
  [styles]="{'min-height': '300px'}"
> 
</quill-editor> -->

<form [formGroup]="myForm">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="Your name">
    </label>
  </div>
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email">
    </label>
  </div>
  <div>
    <label>
      Message:
      <input formControlName="message" placeholder="Your message">
    </label>
  </div>
  <div>
    <quill-editor 
      class="content-editor" 
      [placeholder]="''" 
      [styles]="{'min-height': '300px'}"
      formControlName="textEditor"
    >
    </quill-editor>
  </div>
  <button type="submit" (click)="onSave()">Send</button>
</form>

<!-- With Optional "modules" -->
<!-- <quill-editor
  class="content-editor"
  [placeholder]="''"
  [modules]="quillConfiguration"
  [styles]="{'min-height': '300px'}"
>
</quill-editor> -->